<div class="content-wrapper">

    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h1>CarDealer Admin Page</h1>
        <p>Welcome to our Car Dealer website, where we are dedicated to providing you with a diverse selection of high-quality vehicles. Our team is passionate about helping you find the perfect car that fits your needs and budget. Whether you're looking for a sleek sedan, a rugged SUV, or a reliable family vehicle, we have something for everyone. We pride ourselves on exceptional customer service and strive to make your car-buying experience enjoyable and stress-free. Explore our inventory today and let us assist you in finding your dream car!</p>
    </div>
    <!-- / Content -->
    <!-- Footer -->
    <footer class="content-footer footer bg-footer-theme">
        <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
            <p>Created By Furkan Ozturk</p>
        </div>
    </footer>
    <!-- / Footer -->

    <div class="content-backdrop fade"></div>
</div>
